---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";


// Generate a new path for every collection entry
export async function getStaticPaths() {
  const mapsPage = await getCollection("maps");
  return mapsPage.map((d) => ({
    params: { identifier: d.id },
    props: d,
  }));
}

const itemData = Astro.props.data;

---

<BaseLayout title={itemData.dcMetadata.title_info_primary_tsi}>
  <div>
  </div>
</BaseLayout>

<style>
  div { color: white}
</style>