---
import MapViewer from "@components/Maps/MapViewer.jsx";
import { getEntry } from "astro:content";

interface Props {
  identifier: string;
}

const { identifier } = Astro.props;
const recordData = await getEntry('maps', identifier);
const manifestURI = recordData.data.dcMetadata.identifier_iiif_manifest_ss;
const viewerManifest =  manifestURI.includes('ark.digitalcommonwealth') ? 'https://collections.leventhalmap.org/search/' + recordData.data.dcMetadata.id + '/manifest.json' : manifestURI;
const collectionURI = `/maps/${identifier.replace("__",":")}`

---

<div class="bg-gray-100 w-full rounded">
    <div class="w-full p-4 text-bold font-heading"> {recordData.data.dcMetadata.title_info_primary_tsi } <a href={collectionURI} class="button dark">Collection record</a> </div>
    <MapViewer manifest={viewerManifest} client:only="react" />
</div>