---
import { Image } from "astro:assets";
import Menu from '@components/Layout/Footer/Menu.astro';
import Logo from "@assets/ARGO-logo-nav.svg";
import LogoNBLMEC from "@assets/NBLMEC_logo.png";
import LogoGWPL from "@assets/gwpl_logo.png";
import LogoNHPRC from "@assets/nhprc-logo-l.jpg";
---

<footer class="bg-white container mx-auto mt-16 flex flex-col items-start flex-wrap gap-y-10 pt-10 lg:flex-row py-8">
  <div class="px-5 lg:w-1/6">
    <a href="/">
      <span class="sr-only">ARGO Home</span>
      <Image src={Logo} alt="ARGO Logo" />
      <div class="font-heading text-xs uppercase tracking-widest my-2 text-gray-500">American Revolutionary Geographies Online</div>
    </a>
  </div>
  <nav class="px-5 lg:w-2/3">
    <Menu />
  </nav>
  <div class="px-5 flex flex-col items-start lg:items-end gap-5 lg:w-1/6">
    <a href="https://leventhalmap.org" target="_blank">
      <Image class="block w-40 max-w-full" src={LogoNBLMEC} alt="Leventhal Map & Education Center Logo" />
    </a>
    <a href="https://www.mountvernon.org/library/" target="_blank">
      <Image class="block w-40 max-w-full" src={LogoGWPL} alt="George Washington Presidential Library Logo" />
    </a>
    <a href="https://www.archives.gov/nhprc" target="_blank">
      <Image class="block w-40 max-w-full" src={LogoNHPRC} alt="National Archives Logo" />
    </a>
  </div>
 
</footer>