---
import { Image } from "astro:assets";
import Logo from "@assets/ARGO-logo-nav.svg";
import Menu from '@components/Layout/Header/Menu.vue';
---

<header class="bg-white border-b border-gray-100 sticky z-50 top-0 inset-x-0">
  <div class="container mx-auto flex flex-wrap items-center justify-between gap-6 py-4 px-5 lg:items-center">
    <a class="h-12 flex justify-center items-center" href="/">
      <span class="sr-only">ARGO Home</span>
      <Image src={Logo} alt="ARGO Logo" />
    </a>
    <Menu client:load />
  </div>
</header>
