---
import BaseLayout from "@layouts/BaseLayout.astro";
import Title from '@components/Layout/Title.astro';

const title = 'Search';
---

<BaseLayout title={title}>
  <Title>{title}</Title>
</BaseLayout>
