---
import BaseLayout from "@layouts/BaseLayout.astro";
import Title from '@components/Layout/Title.astro';

import SearchMain from '@components/Search/SearchMain.vue'

const title = 'Search Maps';
---

<BaseLayout title={title} noindex={true}>
  <Title>{title}</Title>
  <SearchMain client:only="vue" />
</BaseLayout>
