---
import { getCollection } from 'astro:content';
import BaseLayout from "@layouts/BaseLayout.astro";


export async function getStaticPaths() {
  const facetEntries = await getCollection('facets');
  const facetCategories = [];

  facetEntries.forEach((facet) => {
    if (facet.data['facet-categories']) {
      facet.data['facet-categories'].forEach((entry) => {
        facetCategories.push({
          params: { facet: facet.id, category: entry.id }, props: { entry },
        });
      });
    }
  });

  return facetCategories;
}

const { entry } = Astro.props;
---
<BaseLayout title="Facet">
  <div>
    <h1>{entry.title}</h1>
  </div>
</BaseLayout>
