---
import { getCollection } from 'astro:content';
import BaseLayout from "@layouts/BaseLayout.astro";
import FacetHeader from "@components/FacetHeader.astro";
import CollectionGrid from "@components/CollectionGrid.astro";

export async function getStaticPaths() {
  const facetEntries = await getCollection('facets');
  return facetEntries.map(entry => ({
    params: { facet: entry.id }, props: { entry },
  }));
}

const { entry } = Astro.props;
const title = entry.data.title;
const facetCategories = entry.data['facet-categories'];
let results = [];
facetCategories.forEach((category) => {
  results = results.concat(category.entries); 
})
---
<BaseLayout title={title}>
  <div class="filter">
    <FacetHeader facet={entry} facetCategories={facetCategories} />
    <h2 class="text-xl mt-6 font-semibold">Maps</h2>
    <CollectionGrid contentType="maps" columns={3} identifiers={results} />
  </div>
</BaseLayout>
