---
import { getCollection } from 'astro:content';
import BaseLayout from "@layouts/BaseLayout.astro";
import FacetHeader from "@components/FacetHeader.astro";
import FacetGrid from "@components/FacetGrid.astro";

export async function getStaticPaths() {
  const facetEntries = await getCollection('facets');
  return facetEntries.map(entry => ({
    params: { facet: entry.id }, props: { entry },
  }));
}

const { entry } = Astro.props;
const facetCategories = entry.data['facet-categories'];
let results = [];
facetCategories.forEach((category) => {
  results = results.concat(category.entries); 
})
---
<BaseLayout title="Facet">
  <div class="filter">
    <FacetHeader facet={entry} facetCategories={facetCategories} />
    <h2>Maps</h2>
    <FacetGrid results={results} />
  </div>
</BaseLayout>
