---
import { getCollection } from 'astro:content';
import BaseLayout from "@layouts/BaseLayout.astro";
import FacetHeader from "@components/FacetHeader.astro";

export async function getStaticPaths() {
  const facetEntries = await getCollection('facets');
  return facetEntries.map(entry => ({
    params: { facet: entry.id }, props: { entry },
  }));
}

const { entry } = Astro.props;
const facetCategories = entry.data['facet-categories']
---
<BaseLayout title="Facet">
  <div class="filter">
    <FacetHeader facet={entry} facetCategories={facetCategories} />
  </div>
</BaseLayout>
