---
import { getCollection } from 'astro:content';
import Title from '@components/Layout/Title.astro';
import Card from "@components/Card.vue";
import BaseLayout from "@layouts/BaseLayout.astro";
import CollectionGrid from "@components/CollectionGrid.astro";

export async function getStaticPaths() {
  const facetEntries = await getCollection('facets');
  return facetEntries.map(entry => ({
    params: { facet: entry.id }, props: { entry },
  }));
}

const { entry } = Astro.props;
const title = entry.data.title;
const facetCategories = entry.data['facet-categories'];
let results = [];
facetCategories.forEach((category) => {
  results = results.concat(category.entries); 
  category.count = results.length;
})
---
<BaseLayout title={title}>
  <div class="filter">
    <Title>{ title }</Title>
    <CollectionGrid contentType="facetCategories" columns={5} identifiers={[entry.id]} />
  </div>
</BaseLayout>
