---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
    identifier: string;
}

const { identifier } = Astro.props;
const record = await getEntry("maps", identifier);

const thumbnailImageSrc = `https://bpldcassets.blob.core.windows.net/derivatives/images/${record.data.dcMetadata.exemplary_image_ssi}/image_thumbnail_300.jpg`;
---

<div>
    <div>
        <Image
            src={thumbnailImageSrc}
            alt="descriptive text"
            width="200"
            height="150"
        />
    </div>
    <div>
        <h1>{record.data.dcMetadata.title_info_primary_tsi}</h1>
        <a href="">See map</a>
    </div>
</div>
