---
import CollectionCard from "@components/CollectionCard.astro";

interface Props {
  results: array;
}

const { results } = Astro.props;
---

<ul class="flex flex-wrap p-0 list-none filter-list gallery-view">
  {results.map((result) => (
    <li class="filter-result">
      <CollectionCard identifier={result} />
    </li>
  ))}
</ul>
