---
import Title from '@components/Layout/Title.astro';

interface Props {
  facet: object;
  facetCategories: object;
  currentFacetCategory: object;
}

const { facet, facetCategories, currentFacetCategory } = Astro.props;
---

<div class="filter-explore-by">
  <Title>{currentFacetCategory ? <span class="block text-lg font-medium">{facet.data.title}: </span><span>{currentFacetCategory.title}</span> : facet.data.title}</Title>
  <ul>
    <li class={!currentFacetCategory && 'active'}>
      <a href={'/facets/' + facet.id}>All</a>
    </li>
    {facetCategories.map((category) => (
      <li class={currentFacetCategory && currentFacetCategory.id === category.id && 'active'}>
        <a href={'/facets/' + facet.id + '/' + category.id}>{category.title}</a>
      </li>
    ))}
  </ul>
</div>
