---
import Title from '@components/Layout/Title.astro';

interface Props {
  facet: object;
  facetCategories: object;
  currentFacetCategory: object;
}

const { facet, facetCategories, currentFacetCategory } = Astro.props;
---

<div class="filter-explore-by not-prose relative mb-4">
  <Title>{currentFacetCategory ? <span class="block text-lg font-medium">{facet.data.title}: </span><span class="block heading-underlined text-bismark-950"><span>{currentFacetCategory.title}</span></span> : <span class="block heading-underlined text-bismark-950"><span>{facet.data.title}</span></span>}</Title>
  <ul class="flex flex-wrap gap-1">
    {facetCategories.map((category) => (
      <li>
        <a class={`pill ${currentFacetCategory && currentFacetCategory.id === category.id && 'pill-active'}`} href={'/facets/' + facet.id + '/' + category.id}>{category.title}</a>
      </li>
    ))}
  </ul>
</div>
