---
import CollectionCard from "@components/CollectionCard.astro";

interface Props {
    results: array;
}

const { results } = Astro.props;
---

<ul class="filter-list gallery-view">
  {results.map((result) => (
    <li class="filter-result">
      <CollectionCard identifier={result} />
    </li>
  ))}
</ul>
