---
interface Props {
    facet: object;
    facetCategories: object;
    currentFacetCategory: object;
}

const { facet, facetCategories, currentFacetCategory } = Astro.props;
---

<div class="filter-explore-by">
  <h1>
    {currentFacetCategory ? <span class="parent-label">{facet.data.title}: </span><span>{currentFacetCategory.title}</span> : facet.data.title}
  </h1>
  <ul>
    <li class={!currentFacetCategory && 'active'}>
      <a href={'/facets/' + facet.id}>All</a>
    </li>
    {facetCategories.map((category) => (
      <li class={currentFacetCategory && currentFacetCategory.id === category.id && 'active'}>
        <a href={'/facets/' + facet.id + '/' + category.id}>{category.title}</a>
      </li>
    ))}
  </ul>
</div>