---
import { Image } from "astro:assets";
import ARGOLogo from "@assets/ARGO-logo-nav.svg"
import Menu from "./Menu.vue";
---

<header>
    <div class="header-wrapper flex items-start justify-between gap-6 lg:items-center">
        <a href="/">
            <span class="sr-only">ARGO Home</span>
            <Image src={ARGOLogo} alt="ARGO Logo" />
        </a>
        <Menu client:load />
    </div>
</header>
