---
import { Image } from "astro:assets";
import ARGOLogo from "@assets/ARGO-logo-nav.svg"
import LegacyHeader from "./legacy-components/legacy-header.vue";
---

<header>
    <div class="header-wrapper">
        <Image src={ARGOLogo} alt="ARGO Logo" />
            <LegacyHeader></LegacyHeader>
    </div>

</header>
