---
import { Image } from "astro:assets";
import backgroundCartouche from "@assets/cartouche-bg.webp";
import heroSearchBg from "@assets/herosearch-bg.jpg";
import WLLogo from "@assets/WashingtonLibrary-logo.png";
import LMECLogo from "@assets/LMEC-logo.webp";
---

<div class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
  <Image src={heroSearchBg} alt="Background image of a map" class="absolute inset-0 -z-10 h-full w-full object-cover" />
    
    <div class="mx-auto max-w-2xl text-center">
      <div></div>
        <Image src={backgroundCartouche} alt="Cartouche backgorund image" class="absolute inset-0 -z-10 mx-auto" />
      <h2 class="text-2xl tracking-tight text-brand-orange sm:text-4xl font-heading">Explore the Legacy of Our Revolutionary Past</h2>
      <p class="mt-6 text-lg leading-8 text-bra">Search bar here</p>
    </div>
    <div>
      <Image src={LMECLogo} alt="Leventhal Map & Education Center Logo" width="400" />
      <Image src={WLLogo} alt="Washington Library Logo" width="400" />
    </div>
  </div>