---
import Header from '@components/Header.astro';
import LegacyFooter from '@components/legacy-components/legacy-footer.vue';
import '../../public/legacy-styles.css'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/rok7eea.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<div class="container mx-auto px-5 mt-10">
			<slot />
		</div>
		<LegacyFooter />
	</body>
</html>
