---
import BaseLayout from '@layouts/BaseLayout.astro';
import Title from '@components/Layout/Title.astro';

interface Props {
	title: string;
}

const { frontmatter } = Astro.props;

---

<BaseLayout title={frontmatter.title}>
	<article>
		<Title>{ frontmatter.title }</Title>
		<div class="prose">
			<slot />
		</div>
		
	</article>
</BaseLayout>

