---
import BaseLayout from '@layouts/BaseLayout.astro';
import Title from '@components/Layout/Title.astro';

interface Props {
	title: string;
}

const { frontmatter } = Astro.props;

---

<BaseLayout title={frontmatter.title}>
	<article>
		<Title>
			<span class="heading-underlined block text-bismark-950">
				<span>{ frontmatter.title }</span>
			</span>
		</Title>
		<div class="prose max-w-none">
			<slot />
		</div>
		
	</article>
</BaseLayout>

