---
import { getCollection } from 'astro:content';
import BaseLayout from "@layouts/BaseLayout.astro";
import Title from '@components/Layout/Title.astro';
import CollectionGrid from "@components/CollectionGrid.astro";

const title = 'Partner Collections';
const entries = await getCollection('partner-collections');
const identifiers = entries
  .sort((a, b) => a.data.title_info_primary_ssi.localeCompare(b.data.title_info_primary_ssi))
  .map((entry) => entry.id);

---
<BaseLayout title={title}>
  <Title>
    <span class="heading-underlined block text-bismark-950">
      <span>{ title }</span>
    </span>
  </Title>
  <section class="py-2 md:py-8">
    <div class="prose text-lg max-w-none">
      The collections in ARGO bring together maps from <strong>{ entries.length } partner institutions</strong>. Our collections are always growing. To see more about what's coming, learn about our <a href="../about/future-partners">future partner collections.</a>
    </div>
  </section>
  <CollectionGrid contentType="partner-collection" columns={3} identifiers={identifiers} />
</BaseLayout>
